<div class="container-fluid">
  <div class="row align-items-left text-left">
    <div class="col content">
      <button class="btn btn-primary my-3" (click)="addUser()">Adicionar</button>
      <table class="table table-dark table-hover table-item text-center">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Função</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>
              <button class="btn btn-primary mx-1" (click)="editUser(user)">Editar</button>
              <button class="btn btn-danger mx-1" (click)="deleteUser(user)">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
