<div class="container-fluid">
  <div class="row align-items-center text-center full-height">
    <div class="col">
      <h1>Bem vindo</h1>
      <h2>Ao sistema de usuários</h2>
    </div>

    <div class="container row">
      <div class="w-50">
        <div class="p-5 border">
          <h3>Quantidade de usuários</h3>
          <h4>16</h4>
        </div>
      </div>

      <div class="w-50">
        <table class="table table-dark table-hover table-item text-center">
          <thead>
            <tr>
              <th scope="col">Função</th>
              <th scope="col">Quantidade de usuários</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Engenheiro de FE</td>
              <td>5</td>
            </tr>
            <tr>
              <td>Engenheiro de BE</td>
              <td>10</td>
            </tr>
            <tr>
              <td>Analista de dados</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Líder técnico</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
